body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("fin.jpg");
    background-repeat: repeat;
}

h2 {
    color: #000000;
}
h1 {
    color: #000000;
}